@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');


nav li a{
    font-size: 20px;
}

.left-section, .right-section {
    width: 50vw;
}

.left-section h2 {
    font-family: "Caveat", serif;
}

.right-section img {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 0, 255, 0.8), 0 0 20px rgba(255, 255, 0, 0.8);
}